body {
   
    background-color: rgb(19,19,19);
    color: rgb(50,50,50);
    font-family: "Avenir Next", "Helvetica Neue", "sans-serif";
    font-size: 12pt;
    padding:0px;
    width: 99%;
    }    
    
header{
    /*Gradient*/
    background: rgba(76,76,76,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
/* Chrome,Safari4+  */background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
/* IE6-9 */
    padding: 1em;
    color: rgb(220,220,225);
/*     text-shadow: 0px 0px 7px rgb(0,0,255); */
    margin: -10px;
    width:100%;
    letter-spacing: 1px;
    font-size:10pt;
    }
header * {
    margin-left: 3em;
    }
a:link {
    text-decoration:none;
    color: rgb(20,150,200);
    }
a:visited {
    color: rgb(20,70,200);
    }
a:hover {
    color: rgb(20,170,200);
}
a:active {
    color: rgb(20,200,200);
    }

article {
    margin: 1em 1em 1em 2em;
    border: 2px outset rgb(240,240,140);
    padding: 2em;
    background: rgba(220,220,220,1);
    border-radius: 180px/60px;
    box-shadow: 1px 2px 6px black;
    display: inline-block; /* make width shrink-wrapped.*/
    }
article#controls{
    position:fixed;
    top:100px;
    }
article h3 {
    color: rgb(80,80,80);
    margin-left:3em;
    }
    
h2, .light {
    font-weight: 100;
    }
label {
    font-weight:500;
    }

.vertical {
    transform: rotate(90deg);
    margin-left: -5.5em;
    position: relative;
    top: -5em;
}
.colors{
    margin-top: 3.2em;
    margin-bottom: 3em;
    position:relative;
}

.color{
    transform: rotate(-90deg);
}
#colorR {
    position: absolute;
    left: 0px
    }
#colorG {
    position: absolute;
    left: 20px
    }
#colorB {
    position: absolute;
    left: 40px
    }
#colorA {
    position: absolute;
    left: 60px
    }